
<div class="p-3">
    <div class="py-3"> 
        Name : 
        <span>
            <input class="form-control col-3" type=text [formControl] = 'name'>
        </span>
    </div>

    <button type="button" class="btn btn-secondary" (click)="changeValue()" >Update</button>

    <div class="d-flex flex-column mt-2 border border-light col-3">
        <span>Value : {{name.value}}</span>   
        <span>Value through value changes: {{newValue}}</span>   
    </div>

    <div class="pt-2">
            <div>
                <label>Username:</label>
                <input class="form-control col-3" type="text" [formControl] = loginInfo.controls.userName>
            </div>
            {{loginInfo.controls.userName.errors|json}}
            <div *ngIf = "loginInfo.invalid && (loginInfo.touched || loginInfo.dirty)" class="pt-2">
                <span *ngIf= "loginInfo.controls.userName.errors.required" class="alert alert-danger">
                    Name Cannot be Empty
                </span>
            </div>
            <div class="py-2">
                <label>Password:</label>
                <input class="form-control col-3" type="text" [formControl] = loginInfo.controls.password>
            </div>
            <button type = "submit" class="btn btn-success" (click)="onSubmit(false)"> Submit</button>
    </div>

    <div class="pt-2">
        <form [formGroup] = personalInfo (ngSubmit)= "onSubmit(true)"> 
            <div>
                <label>FirstName:</label>
                <input class="form-control col-3" type="text" formControlName = firstName>
            </div>
            {{personalInfo.controls.firstName.errors|json}}
            <div *ngIf="personalInfo.invalid && (personalInfo.touched || personalInfo.dirty)" class="pt-2">
                <span *ngIf= "firstName.errors.maxlength" class="alert alert-danger">
                    Name cannot br more than 5 characters
                </span>
            </div>

            <div class="py-2">
                <label>LastName:</label>
                <input class="form-control col-3" type="text" formControlName = lastName>
            </div>

            <div class="py-2">
                <label>Contact:</label>
                <input class="form-control col-3" type="text" formControlName = contactNumber>
            </div>
            <button type = "submit" class="btn btn-success"> Submit</button>
        </form>
    </div>

    <div class="d-flex flex-column mt-2 border border-light col-3">
        <span>Form Data : {{formData| json}}</span>   
    </div>

</div>

