<!-- <form [formGroup]="feedback">
    <div>
        <div>Provide Feedback:</div>
        <app-emoji-rating [publicRatings] = 'starsRatings' formControlName= "rating" ></app-emoji-rating>
    </div>
</form> -->

<!-- <app-odd-even-box></app-odd-even-box> -->

<app-content-projection>
    <div>single slot content projection</div>
</app-content-projection>

 <app-content-projection>
    <div multiSlot> multi slot content projection </div>
</app-content-projection>


<app-content-projection>
    <header><h1 #header>Content Projection</h1></header>
    <content> <div #content>multi slot content projection</div></content>
    <footer>content Child Example</footer>
</app-content-projection>

<app-content-projection>
    <ng-template appElementContent>
        <div>child 1</div>
    </ng-template>
    <ng-template appElementContent>
        <div>child 2</div>
    </ng-template>
</app-content-projection>



