<app-nav-parent>
    <app-nav-tab   [index]  ='1'> Nav 1</app-nav-tab>
    <app-nav-body  [index]  ='1'> Body 1</app-nav-body>
    <app-nav-tab  [index]  ='2'> Nav 2</app-nav-tab>
    <app-nav-body  [index]  ='2'> Body 2</app-nav-body>
    <app-nav-tab  [index]  ='3'> Nav 3</app-nav-tab>
    <app-nav-body  [index]  ='3'> Body 3</app-nav-body>
</app-nav-parent>




<!-- compound component : when author wants to control the view -->
    <!-- <div appExpandCollapse #first="appExpandCollapse" appExpandCollapseMedium [expand]="true" (expanded) = "showExpand($event, 'sharing same state')">
    <app-expand-collapse-action></app-expand-collapse-action>
    <app-collapse>collpase</app-collapse>
    <app-collapse>collpase</app-collapse>
    <app-helper></app-helper>
    <app-expand>expand</app-expand>
</div> -->

<!-- sharing the state  of above mentioned expand collapse component instance-->
<!-- <div appExpandCollapseMedium [ExpandCollapse]= "first">
    <app-expand-collapse-action></app-expand-collapse-action>
    <app-collapse>collpase</app-collapse>
    <app-collapse>collpase</app-collapse>
    <app-helper></app-helper>
    <app-expand>expand</app-expand>
</div> -->

<!-- has own independent state then aforementioned components instance -->
<!-- <div  appExpandCollapse appExpandCollapseMedium (expanded) = "showExpand($event,  'state is diifferent from siblings')">
    <app-expand-collapse-action></app-expand-collapse-action>
    <app-collapse>collpase</app-collapse>
    <app-collapse>collpase</app-collapse>
    <app-helper></app-helper>
    <app-expand>expand</app-expand>
</div> -->

<!-- using template reference : when author gives user freedom to render it anywhere-->
<!-- <app-expand-collapse-parent [expand]="true" [userTemplate]="userTemplate" (expandTile) = "showExpand($event, 'template ref')">
</app-expand-collapse-parent>

<ng-template #userTemplate let-expanded = "expanded" let-show = "show">
    <div>{{expanded? 'Tile is expanded': 'Tile is collapsed' }}</div>
    <app-expand-collapse-main [expand] = "expanded" (expanded) = "show()"></app-expand-collapse-main>
    <app-expand-collapse-outside [expand] = "expanded" (expanded) = "show()"></app-expand-collapse-outside>
</ng-template> -->

<!-- <form [formGroup]="feedback">
    <div>
        <div>Provide Feedback:</div>
        <app-emoji-rating [publicRatings] = 'starsRatings' formControlName= "rating" ></app-emoji-rating>
    </div>
</form> -->

<!-- <app-odd-even-box></app-odd-even-box> -->

<!-- <app-notify >
    <ng-template #renderData>
        I'm notifier
    </ng-template>
</app-notify>
<button (click)="show()">Show me</button>

<app-notify >
    <ng-template #renderData1>
        I'm error notifier
    </ng-template>
</app-notify>

<button (click)="error()">error</button> -->

<!-- <app-content-projection>
    <div>single slot content projection</div>
</app-content-projection>

 <app-content-projection>
    <div multiSlot> multi slot content projection </div>
</app-content-projection>

<app-content-projection>
    <header><h1 #header>Content Projection</h1></header>
    <content> <div #content>multi slot content projection</div></content>
    <footer>content Child Example</footer>
</app-content-projection>

<app-content-projection>
    <ng-template appElementContent>
        <div>child 1</div>
    </ng-template>
    <ng-template appElementContent>
        <div>child 2</div>
    </ng-template>
</app-content-projection> -->



