<ng-container *ngFor =  "let rating of ratingsData">
        <svg class="star" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"
                (click) = "selectRatings(rating)" 
                (mouseover) = "showRatingText(rating.starText)"
                [ngClass] = "{'touched': rating.starValue <= value}"
                [ngStyle] = "{filter : rating.starValue > 3 ? 'sepia(0)':'sepia(60%)'}"
        >
                <g>
                        <rect fill="none" height="24" width="24" x="0"/>
                        <polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"/>
                </g>
        </svg>
</ng-container>
<div>{{starData}}</div>
