
<div class="root">
    <div class="header">
        <div class="text">Expand Collapse Header</div>
        <ng-container *ngIf = "expand; else rightArrow">
            <img class="icon-down icon" (click)="onClick()" src="https://img.icons8.com/material-rounded/24/000000/chevron-down.png"/>
        </ng-container>
        <ng-template #rightArrow>
            <img class="icon" (click)="onClick()" src="https://img.icons8.com/material-rounded/24/000000/chevron-right.png"/>
        </ng-template>
    </div>
    <ng-container>
        <div class="body" [ngClass]="{'expands':expand}">
            Hi! There,
                hOW ARE YOU , i HOPE YOU ARE HAVING GREAT TIME...
        </div>
    </ng-container>
</div>
